<!DOCTYPE html>
<html>
<head>
  <title>EasyDesign</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 	   <p class="notice" style="<%= "display:none;" if notice.nil? %>"><%= notice %></p><!--display none oculta el elemento. y el metodo nil? devuelve true si el objeto es nulo, y false si el objeto contiene algo. oculta el parrafo si no hay ninguna noticia-->
       <p class="alert" "<%= "display:none;" if alert.nil? %>"><%= alert %></p>
       <header>
	       	<nav>
	       		<ul class="nav nav-tabs"><!--hacemos uso de bootstrap-->
	       			<li>
	       				<%= link_to "Inicio", root_path %>
	       			</li>
	       			<% if user_signed_in? %>
	       				<li>
	       					<%= link_to "Editar Perfil", edit_user_registration_path(current_user) %> <!--current user es el usuario que este logeado-->
	       				</li>
	       				<li>
	       					<%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
	       				</li>
	       			<%else%>
	       				<li>
	       					<%= link_to "Ingresar", new_user_session_path %>
	       				</li>
	       				<li>
	       					<%= link_to "registrarse", new_user_registration_path %>
	       				</li>
	       			<%end%>
	       		</ul>
	       	</nav>
       </header>

<%= yield %>

</body>
</html>
